:root {
    --bg: #000;

}
body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;

.Dorr {
    position: relative;
min-height: 100vh;


}

.Dorr h1 {
    font-family: 'Sacramento', cursive;
}
.Dorr::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url('image/rings-couple-wedding.png');
    background-size: cover;
    background-position: center;
z-index: -1;
}
.mynavbar{

    
}
}
